<mat-toolbar color="primary" class="dark">
  <div class="mat-toolbar-tools" fxLayout="row nowrap" fxFlex fxLayoutAlign="end center">
    <a class="ps-title-icon" href="http://pluralsight.com" target="_blank">
      <i></i>
    </a>
    <span fxFlex>Angular First Look</span>
    <span fxFlex class="angular-version">v 6</span>
    <span fxFlex class="angular-version">updated on Aug 08, 2018 @ 17:31 ET</span>
    <span fxFlex="grow"></span>
    <a fxFlex mat-button href="http://github.com/johnpapa/angular-first-look-hosted" target="_blank">
      <span>Github</span>
    </a>
    <a fxFlex mat-button href="http://angular.io" target="_blank">
      <span>Angular</span>
    </a>
    <a fxFlex mat-button href="http://johnpapa.net" target="_blank">
      <span>John Papa</span>
    </a>
  </div>
</mat-toolbar>
