<md-toolbar color="primary" class="dark">
  <div class="md-toolbar-tools" fxLayout="row nowrap" fxFlex fxLayoutAlign="end center">
    <a class="ps-title-icon" href="http://pluralsight.com" target="_blank"><i></i></a>
    <span fxFlex>Angular First Look</span>
    <span fxFlex class="angular-version">v 4.4.6</span>
    <span fxFlex="grow"></span>
    <a fxFlex md-button href="http://github.com/johnpapa/angular-first-look-hosted" target="_blank"><span>Github</span></a>
    <a fxFlex md-button href="http://angular.io" target="_blank"><span>Angular</span></a>
    <a fxFlex md-button href="http://johnpapa.net" target="_blank"><span>John Papa</span></a>
  </div>
</md-toolbar>
