@import 'mixin';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

p.intro {
  margin: 1em 0em 0em 1em !important;
}

.ps-title-icon i {
  background-image: url('../assets/ps-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1em 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
