<md-card>
  <md-card-header color="primary" class="card-header" fxLayout="row nowrap" fxFlex fxLayoutAlign>
    <span class="card-title" fxFlex>{{card.id}}.</span>
    <span class="card-title" fxFlex="grow">{{card.title}}</span>
  </md-card-header>

  <md-card-content fxLayout="row nowrap" fxFlex fxLayoutAlign>
    <div fxFlex="grow">{{card.summary}}</div>
    <div fxFlex>
      <a md-button color="accent" md-raised-button href="live-examples/{{card.example}}" target="_blank">View Sample</a>
    </div>
  </md-card-content>
</md-card>
