<mat-card>
  <mat-card-header color="primary" class="card-header" fxLayout="row nowrap" fxFlex fxLayoutAlign>
    <span class="card-title" fxFlex>{{card.id}}.</span>
    <span class="card-title" fxFlex="grow">{{card.title}}</span>
  </mat-card-header>

  <mat-card-content fxLayout="row nowrap" fxFlex fxLayoutAlign>
    <div fxFlex="grow">{{card.summary}}</div>
    <div fxFlex>
      <a mat-button color="accent" mat-raised-button href="live-examples/{{card.example}}" target="_blank">View Sample</a>
    </div>
  </mat-card-content>
</mat-card>
